<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="wrapp">
        <form >
            <div class="form-group">
                <label for="exampleInputEmail1"  >User Name</label>
                <input type="email" class="form-control" [(ngModel)]="Student.username" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter user name" name="username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" [(ngModel)]="Student.password" id="exampleInputPassword1" placeholder="Password"  
                name="password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
        </form>
    </div>
</body>

</html>